<%- include('../_layouts/adminHeader') %>

  <h2 class="page-title">Edit category</h2>
  <a href="/admin/categories" class='btn btn-primary'>Back to categorie</a>
  <br>
  <br>

  <form method="POST" action="/admin/categories/edit-category/<%= id %>">

    <div class="form-group">
      <label for="title">Title</label>
      <input class='form-control' type="text" name='title' value='<%= title %>' placeholder='Title'>
    </div>

    <div class="form-group">
      <label for="slug">Slug</label>
      <input class='form-control' type="text" name='slug' value='<%= slug %>' placeholder='Slug'>
    </div>

    <input type='hidden' name="id" value="<%= id %>">
    
    <button class="btn btn-defaults">Submit</button>

  </form>

  <%- include('../_layouts/adminFooter') %>